.link {
  color: var(--white);
  font-weight: 500;
  font-size: 1em;
  @media (min-width: 910px) {
    font-size: 0.875em;
    &:hover {
      color: var(--yellow-primary);
    }
  }
}

.activeLink {
  color: var(--yellow-primary);
  position: relative;
}

.activeDash {
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    background: var(--yellow-primary);
    height: 3px;
    width: 24px;
  }
}
